@import url("fonts.css");

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #444;
  overflow: hidden;
  font-size: 1.1em;
}

#overlay {
  background: url(../img/bg.jpg) no-repeat center bottom fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
}

.section {
  padding: 15% 20% 15% 20%;
  margin-bottom: 10px;
  border-radius: 250px;
  background: #ededed no-repeat center bottom fixed;
}

#header {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

#header h1 {
  font-size: 3.5em;
  margin-top: 3px;
  font-weight: bold;
  line-height: 1.071;
  max-width: 900px;
  margin-top: 0;
  margin-bottom: .6rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 0 0 8px rgba(129, 129, 129, 0.5);
}

#intro span {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: lighter;
}

#intro span::after {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 8px 0 14px;
	color: rgba(115, 111, 111, 0.3);
}
#intro span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(115, 111, 111, 0.3);
}

#self {
	width: 25%;
	float: right;
	margin-right: 25px;
	margin-left: 10px;
}

#self img {
	width: 200px;
  height: 200px;
	border-radius: 35px;
  object-fit: cover;
}

#info {
  padding-top: 10px;
  text-align: left;
}

#me ul {
  list-style-type: none;
  margin-left: -25px;
}

#me ul li {
  margin-bottom: 3px;
}

#about p {
  text-indent: 50px;
  line-height: 1.6;
}
